.nav__header{
    transition: background .3s ease-in-out;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 20;
    // background-color: red;

}
.scroll{
    background-color:#141414;
    
    box-shadow: #2121341a 0 1px 4px;

}
.nav{
    justify-content: space-between;
    padding: 1rem;
    button{
        font-size: medium;
        box-shadow: #2121341a 0 1px 4px;

    }
    img{
        height:40px;
        box-shadow: #2121341a 0 1px 4px;

    }
}

.modal-header{
    h2{
        color: #000;
        font-size: x-large;
    }
}
.modal-body{
    background-color: #181818;
    > div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
