@font-face {
  font-family: Feeling;
  src: url(https://api.snipper.top/api/uploads/Feeling_Passionate_903fda943f.otf);
}
body {
  margin: 0;
  font-family: -apple-system,Feeling, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
